xml/relaxng/geoscan.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="scann">
      <element name="plani_data">
        <element name="user">
          <ref name="name"/>
          <element name="allianz_tag">
            <text/>
          </element>
        </element>
        <element name="koordinaten">
          <element name="gal">
            <data type="integer"/>
          </element>
          <element name="sol">
            <data type="integer"/>
          </element>
          <element name="pla">
            <data type="integer"/>
          </element>
          <element name="string">
            <data type="NMTOKEN"/>
          </element>
        </element>
        <element name="planeten_typ">
          <ref name="name"/>
        </element>
        <element name="objekt_typ">
          <ref name="name"/>
          <optional>
            <element name="basis_typ">
              <data type="NCName"/>
            </element>
          </optional>
        </element>
        <element name="ressourcen_vorkommen">
          <oneOrMore>
            <choice>
              <element name="ressource">
                <ref name="id"/>
                <ref name="wert"/>
              </element>
              <element name="ressource_tech_team">
                <ref name="id"/>
                <ref name="wert"/>
              </element>
            </choice>
          </oneOrMore>
        </element>
        <element name="gravitation">
          <data type="decimal"/>
        </element>
        <element name="lebensbedingungen">
          <data type="decimal"/>
        </element>
        <element name="bev_max">
          <data type="integer"/>
        </element>
        <element name="besonderheiten">
          <zeroOrMore>
            <element name="besonderheit">
              <ref name="name"/>
            </element>
          </zeroOrMore>
        </element>
        <optional>
          <element name="modifikatoren">
            <element name="forschung">
              <data type="decimal"/>
            </element>
            <element name="gebaeude_bau">
              <ref name="kosten"/>
              <ref name="dauer"/>
            </element>
            <element name="schiff_bau">
              <ref name="kosten"/>
              <ref name="dauer"/>
            </element>
          </element>
          <element name="reset_timestamp">
            <data type="integer"/>
          </element>
          <element name="reset_timestamp_2">
            <data type="integer"/>
          </element>
        </optional>
      </element>
      <element name="timestamp">
        <data type="integer"/>
      </element>
      <element name="scann_typ">
        <ref name="id"/>
        <ref name="name"/>
      </element>
      <element name="informationen">
        <element name="vollstaendig">
          <data type="integer"/>
        </element>
        <optional>
          <element name="bericht">
            <text/>
          </element>
        </optional>
      </element>
    </element>
  </start>
  <define name="name">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="id">
    <element name="id">
      <data type="integer"/>
    </element>
  </define>
  <define name="wert">
    <element name="wert">
      <data type="decimal"/>
    </element>
  </define>
  <define name="kosten">
    <element name="kosten">
      <data type="decimal"/>
    </element>
  </define>
  <define name="dauer">
    <element name="dauer">
      <data type="decimal"/>
    </element>
  </define>
</grammar>
